:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;


  background-color: white;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}


 body {
  margin: 0;
 }

 .navbackground {
  background-color:white;
  display: flex;
  flex-direction: row;
  width: 100%;
 }

 .menu {
  width: 100%;
 }

 .menu ul {
  display:flex;
  flex-direction: row;
  justify-content: flex-end;
  height: 100%;
  margin: 0;
  align-items: center;
}

.navlogo {
  padding: 0.3rem 5rem;
}

.menuitem{
  margin-right: 2rem;
  list-style: none;
}


.menuitem a {
  text-decoration: none;
  color: black;
  font-weight: 600;
}

.home-main {
  height: 80dvh;
  background-image: linear-gradient(black, black), url(/background.png);
  background-blend-mode: saturation;
  margin-top: 20px;
  display:flex;
  justify-content: center;
  align-items: center;
}


.test {
  background-color: #CC0001;
  height: 100px;
}

footer {
  background-color: black;
}

.footer {
  display:flex;
  flex-direction: row;
  padding: 5rem 0 2rem 1rem;
  color: white;
}

.footercontact {
  display: flex;
  width: 100%;
  align-items: center;
  flex-direction: row;
  justify-content: flex-end;
  font-weight: 600;
}

.footercontact * {
  margin-right: 2rem;
}


.copyright {
  text-align: center;
}

.copyright p {
  margin-bottom: 0;
  color: lightgray;
  padding-bottom: 3rem;
}

.socials {
  display: flex;
  align-items: center;
}

.header_resultado {
  height: 40dvh;
  background-image: linear-gradient(black, black), url(/background.png);
  background-blend-mode: saturation;
}

.header_resultado p {
  color: white;
  font-size: 3rem;
}

.casacard-container {
  display:flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.casacard {
  padding: 1rem;
  border-radius: 1rem;
  width: 33%;
  margin-bottom: 5rem;
  -webkit-box-shadow: 0px 0px 17px 0px rgba(0,0,0,0.09);
-moz-box-shadow: 0px 0px 17px 0px rgba(0,0,0,0.09);
box-shadow: 0px 0px 17px 0px rgba(0,0,0,0.09);
}

.casacard img {
  height: 15rem;
  width: 100%;
  border-radius: 1rem;
  object-fit:cover;
}

.precio {
  color: #CC0001;
  font-size: 2rem;
  font-weight: 600;
  display:flex;
  justify-content: center;
  align-items: center;
}

.localizacion {
  display:flex;
  flex-direction: row;
  align-items: center;
}

.ccaa {
  margin-left: 1.5rem;
  font-size: 1.2rem;
  text-transform: capitalize;
}

.iconos {
  border-bottom: 1px solid lightgray;
  display:flex;
  align-items: center;
}

.iconos div {
  display:flex;
  align-items: center;
  margin-bottom: 1.5rem;
}

.iconos div:not(:last-child) {
  margin-right: 1.5rem;
}

.iconos div span {
  margin-left: 0
}

.fechas {
  text-align: center;
}

.casacard a {
  background-color: #CC0001;
  padding: 1rem;
  color: white;
  border-radius: 1.5rem;
  width: 50%;

}

.nuevabusqueda {
  display:flex;
  align-items: center;
  justify-content: center;
}

.nuevabusqueda a {
  text-align: center;
}

.resultado_title {
  text-align: center;
  margin-bottom: 4rem;
}
